*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background: $white;
}

ol, ul {
  margin: 0;
  list-style-type: none;
}

.btn {
  text-decoration: none;
  padding: $sp-1 $sp-3;
  border: 2px solid $gray-dark;
  display: inline-block;
  box-shadow: 0 2px 10px $gray-dark;
  width: auto;
  background-color: $gray-dark;
  color: $white;
  transition: all .2s;
  
  &:hover {
    box-shadow: 0 4px 28px -3px $gray-dark;
    background-color: transparent;
    color: $gray-dark;
  }

  &::before {
    content: '---';
    margin-right: $sp-1;
  }
  &::after {
    content: '---';
    margin-left: $sp-1;
  }




}