*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  box-sizing: border-box;
  background: $white;
}

ol, ul {
  margin: 0;
  list-style-type: none;
}

.btn {
  text-decoration: none;
  padding: $sp-1;
  border-bottom: 2px solid transparent;
  transition: all .3s;

  &--purple:hover {
    border-bottom: 2px solid $color1;
  }

  &:hover::after {
    display: inline-block;
    transform: translateX(5px) scale(1.2);
  }

  &::after { 
    content: "\00BB"; 
    margin-left: 3px;
  }
}