*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  //font-size: 62.5%; // 1rem = 10px; 10px/16px = 62.5%s
  font-family: 'Abel', sans-serif;
  
  @include respond(phone) {
    font-size: 80%;
  }
  
  @include respond(tab-port) {
    font-size: 85%; // 1rem = 8px; 8/16 = 50%
  }
  @include respond(tab-land) {
    font-size: 95%; // 1rem = 9px; 9/16 = 56.5%
  }
  @include respond(big-desktop) {
    font-size: 110%; // 1rem = 10; 10/16 = 62.5%
  }
}

body {
  box-sizing: border-box;
  background: lightgreen;
}
a:link,
a:visited, html:link,
html:visited {
  color: $gray-dark;
}
a {
  //text-decoration: none;
}

ol, ul {
  margin: 0;
  list-style-type: none;
}
// a, p, li {
//   font-size: 2rem;
// }