body {

}
.w-container {
  max-width: $container;
  margin: 0 auto;
  padding: 0 3%;
}
.w-full {
  width: auto;
}

.wrapper {
  height: auto;
}

// @extend w-full or w-container
.wrapper,
.nav ,
.hero,
.info,
.display,
.footer,
.articles,
.description,
.faq,
.about,
.contact {
  @extend .w-full;
}




