.footer {
  padding: $sp-2;

  &__container {
    @extend .w-container;
  }

  .social-media {
    text-align: center;
    margin: $sp-2;
  }

  &__list {
    text-align: center;
    
    &:not(:last-of-type) {
      margin-top: $sp-2;

    }
  }

  &__item {
    display: inline-block;

    &:not(:last-of-type)::after {
      content: '|';
    } 
  }
}