.hero {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100%;
  min-height: 21rem;
  overflow: hidden;


  &__container {
    @extend .w-full;
    text-align: center;

    @include absCenter;
    width: 100%;
  }

  .btn {
    margin-top: $sp-1;
  }

  // HERO - index.html
  &--index {
    background-image: linear-gradient( rgba($white, .65), rgba($white, .75)), url('../img/hero-index-small.jpg');
    
    @include respond(tab-port) {
      background-image: linear-gradient( rgba($white, .65), rgba($white, .75)), url('../img/hero-index.jpg');
    }
    @include respond(tab-port) {
      height: 85vh;
    }
  }

  // HERO - contact
  &--contact {
    // min-height: 50vh;
    background-image: linear-gradient( rgba($white, .55), rgba($white, .65)), url('../img/contact-telefony-small.jpg');

    @include respond(tab-land) {
      background-image: linear-gradient( rgba($white, .55), rgba($white, .65)), url('../img/kontakt-telefony-big.jpg');
    }
  }

  // HERO - about
  &--about {
    // min-height: 50vh;
    background-image: linear-gradient( rgba($white, .55), rgba($white, .65)), url('../img/hexagon-small.jpg');

    @include respond(tab-land) {
      background-image: linear-gradient( rgba($white, .55), rgba($white, .65)), url('../img/hexagon-big.jpg');
    }
  }

  // HERO - developer
  &--developer {
  //========================================================
  // This pattern is downloaded from www.subtlepatterns.com 
  // If you need more, that's where to get'em.
  //========================================================
    background-image:  linear-gradient( rgba($white, .55), rgba($white, .65)), url('../img/klucz-small.jpg');
  }
}