.hero {
  position: relative;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  overflow: hidden;

  &__container {
    @extend .w-full;
    text-align: center;

    @include absCenter;
  }

  .btn {
    margin-top: $sp-1;
  }

  // &--index .hero__container {
  //   top: 40%;
    
  //   @include respond(tab-port) {
  //     top: 50%;
  //   }

  //   .go-to {
  //     visibility: hidden;
  //   }
  // }

  // HERO - index.html
  &--index {
    height: 70vh;
    background-image: linear-gradient( rgba($white, .65), rgba($white, .75)), url('../img/hero-index-small.jpg');
    
    @include respond(tab-land) {
      height: 85vh;
      background-image: linear-gradient( rgba($white, .65), rgba($white, .75)), url('../img/hero-index.jpg');
    }
  }

  // HERO - contact
  &--contact {
    height: 60vh;
    background-image: linear-gradient( rgba($white, .55), rgba($white, .65)), url('../img/contact-telefony-small.jpg');

    @include respond(tab-land) {
      background-image: linear-gradient( rgba($white, .55), rgba($white, .65)), url('../img/kontakt-telefony-big.jpg');
    }
  }

  // HERO - about
  &--about {
    height: 60vh;
    background-image: linear-gradient( rgba($white, .55), rgba($white, .65)), url('../img/hexagon-small.jpg');

    @include respond(tab-land) {
      background-image: linear-gradient( rgba($white, .55), rgba($white, .65)), url('../img/hexagon-big.jpg');
    }
  }

  // HERO - developer
  &--developer {
    height: 60vh;
    background-image:  linear-gradient( rgba($white, .55), rgba($white, .65)), url('../img/klucz-small.jpg');
  }
}