.services {
  text-align: center;
  
  &__nav {
    background-color: $gray-dark;
  }
  
  &__list {
    @extend .w-container;
    display: block;
    text-align: center; 
  }

  &__item {
    margin: $sp-1;  
    background-color: $white;
    display: inline-block;
    border-radius: 4px;

    &:hover {
      transform: scale(1.05);
      box-shadow: 0 3px 12px $gray-dark;
    }
    
    &:active,
    &:focus {
      -ms-transform: translateY(2px) scale(1.05);
      -webkit-transform: translateY(2px) scale(1.05);
      -moz-transform: translateY(2px) scale(1.05);
      transform: translateY(2px) scale(1.05);
    }

  } 
  
  &__link {
    display: inline-block;
    padding: $sp-2 $sp-2 $sp-1;    
    min-width: 8rem;
  }
  
  &__icon {
    height: 5rem;
    width: 5rem;
  }

  .box-heading {
    margin-top: $sp-2;
  }

  .article-heading {
    &::before,
    &::after {
      content: '\21D1';
    }

    &::before {
      margin-right: 8px;
    }
    &::after {
      margin-left: 8px;
    }
  }

  &__bar {
    @extend .w-container;
    display: none;
    padding: 0;
    border: 2px solid $gray-dark;
    border-radius: 20px;
    margin: 0 2% $sp-1;
    //display: none;

    @include respond(tab-port) {
      margin: 0 auto $sp-3;
    }
  }
  
  &__options {
    display: block;
    color: $white;
    padding: 2px $sp-1;
  }
  
  &__option {
    border-radius:10px;
    display: inline-block;
    margin: $sp-1;
    padding: $sp-1 $sp-2;
    cursor: pointer;
    box-shadow: 0 2px 4px $gray-dark;
    
    &--nowa {
      background-color: $color1;
    }
    
    &--optymalizacja {
      background-color: $color5;
    }
    
    &--pozycjonowanie {
      background-color: $color3;
    }
    
    &--wspolpraca {
      background-color: $color4;
    }

    &:hover {
      box-shadow: 0 2px 8px $gray-dark;
    }

    &:active,
    &:focus {
      transform: translateY(2px);
    }
  }

  &__text {
    display: inline-block;
    height: 100%;
    vertical-align: top;
  }

  &__close {
    position: relative;
    display: inline-block;
    width: 1.1rem;
    height: 1.1rem;
    margin-left: $sp-1;
    vertical-align: top;
    
    &::before {
      content: 'X';
      width: 1.1rem;
      height: 1.1rem;
      border-radius: 50%;
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      background-color: $white;
      color: $gray-dark;
      transform: translate(-50%, -50%);
    }
  }
}
